*{
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p,a,label{
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

.topo{
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    display: flex;
}
.topo h1{
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px;
    font-size: 40px;
    color: white;
}
.topo p{
    color: white;
}
.topo form  table{
    margin-left: 50%;
    padding: 10px;
    display: flex;
    margin-top: 10px;
}
.topo form input[type=submit]{
    background-color: #4267b2;
    border-color: #29487d;
    border-style: solid;
    color: white;
    border-width: 1px;
    

}
#perdeusenha{
    margin-left: 510px;
    text-decoration: none;
    color: #9cb4d8;
}



.menu{
    padding: 20px;
    margin-top: 30px;
}

.leftpainel{
    float : left;
    width: 50%;

}
.rightpainel{
    float:right;
    width: 37%;
}
.nomesenha{
    display: inline-flex;
}

.nomesenha input[type=text]{
    width: 100%;
    height: 30px;
    padding-left: 6px;
    margin-left: auto;
    word-spacing: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;

}
.senha{
display: block;

}
.senha input[type=text]{
    width: 64%;
    height: 30px;
    margin-left: auto;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    
}
.rightpainel #birt{
    margin-top: 5px;
}

.rightpainel select{
    width: 10%;
    height: 30px;
    margin-left: 0;
}

.rightpainel a{
    text-decoration: none;
}

.rightpainel .ra{
    display: inline-flex;
}
.rightpainel .ra input[type=radio]{
    margin-left: auto;
    width: 20px;
    height: 20px;
}
.rightpainel .ra label{
    margin-left: 5px;
}
.rightpainel .ra #male{
    margin-left: 10px;
    
}
.rightpainel .ra #male label{
    margin: auto; 

}


.rightpainel .texto p{
    font-size: 13px;
}

.rightpainel input[type=submit]{
    width: 180px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;

    font-size: 17px;
    font-weight: bold;
    color: white;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
}
